.dashboard_profile {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    text-align: center;
    overflow: hidden;
    height: 100%;
    padding: var(--padding);
  }
  .dashboard_profile > ul {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    gap: 2rem;
  }
  .dashboard_profile li {
    width: 100%;
    display: grid;
    place-content: center;
    transition: 2s ease;
  }
  .dashboard_profile_element {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.2rem;
  }
  @media (max-width: 900px) {
    .dashboard_profile {
      display: none;
    }
  }
  .dashboard_profile_element:nth-child(3){
    display: flex;
    margin-top: auto;
  }